/*#main-title {*/
/* font-weight: bold;*/
/* text-decoration: none;*/
/* font-size: 40px;*/
/* color: black;*/
/* font-family: "Noto Sans JP", sans-serif;*/
/*}*/

/*================
 PC用のスタイル 
=================*/
/* 画面幅が768px以上のとき */
@media screen and (min-width: 768px) {
  /* PC用のスタイルを指定する */
  
  横幅設定 
 body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
 } 
 
 /* TOPに戻るボタン */
.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  background: #007BFF;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 5px;
  transition: 0.3s;
}

.scroll-to-top:hover {
  background: #0056b3;
}

/* スクロール時のフェードイン */
section {
  　opacity: 0;
  　transition: 1s;
}

.fade-in {
  opacity: 1;
}

 .myhome {
    font-size: BIG;
 }

 #nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
 }

 .menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
    column-gap: 30px;
    margin-bottom: 10px;
 }

 #nav-pc a {
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
 }
 
   /* スマホ用ナビを非表示 */
   #nav-sp,
   #menu-sp {
    display: none;
   }
   
.pageheader-slider {
  /* ul要素の不要なパディングを削除する */
  padding: 0;

 }
 
  /* メインの画像 */
 .mainpic {
  /*margin: 50 auto;*/
  margin: auto; /* おそらくここは "auto" だけが正しい指定かと思われます。 */
  text-align: center;
  width: 100%; /* 今の画像が上が見切れているのいったんオフにしてる */
  height: 500px;
  object-fit: cover;
　object-position: top; /* 追加 */
 }
 

 #title1,#title2  {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Noto Sans JP", sans-serif;
 }
 .topreport{
    padding: 20px 70px 30px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 40%;
 }

 .report{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px auto 20px auto;
    column-gap: 20px;
    max-width: 1200px;
 }

 .report-item{
    padding-bottom: 60px;
    width: 30%;
 }

 img {
    margin: 0 auto;
    max-width: 100%;
 }
 
 .subpic-top {
   width: 100%;
   height: 250px;
   object-fit: cover; /* width, heightといっしょに使います */
 }
 
 

 /*.report-item-center{*/
 /*   padding-right: 30px;*/
 /*   padding-left: 30px;*/
 /*   width: 30%;*/
 /*}*/



 p {
    margin: 0;
 }

 footer p {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Noto Sans JP", sans-serif;
 }
 
 footer a {
    font-family: "Noto Sans JP", sans-serif;
}

 P {
    font-size: 20px;
 }
 
 /*モーダルウィンドウのデザイン*/
 #modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.modal-content {
    bottom: 18%;
    width: 100%;
    max-width: 40%;
    margin: 15% auto;
    background: white;
    padding: 2%;
    position: relative;
}

#modal-close {
    position: absolute;
    right: 2%;
    top: 1%;
    cursor: pointer;
}
/*モーダルウィンドウのデザイン終了*/

.more-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more-item img {
    flex: 1 1 30%;
    margin: 1% 1.5%;
    max-width: 30%;
}

.rmore-item-img {
    flex: 1 1 30%;
    margin: 1% 1.5%;
    max-width: 30%;
}

#top {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

#top:hover {
    background: #0056b3;
}

/*もっとみるのリンク*/
#send,#page-more  {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}nd

#page-more:hover,#send:hover  {
    background: #0056b3;
}

footer p {
    padding: 20px;
}

#send2 {
    margin: auto;
    display: block;
    width: 550px;
    height: 50px;
    /*margin-left: 5%;*/
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}
#page-more:hover,#send2:hover  {
    background: #0056b3;
}

}

/* お問い合わせ */
#contact {
margin: 80px auto 80px auto;
}

/* 外枠 */
#contact > form > div {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 30px;
}

/* 左列の見出し */
.contact-heading {
width: 240px;
align-self: center;
}
/* 見出しのラベル */
.contact-label {
font-weight: bold;
}
/* 必須 */
.contact-span {
color: #ce2222;
margin: 0 0 0 20px;
font-weight: bold;
}

/* テキストボックス */
.contact-textbox {
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom-width: 1px;
border-bottom-color: #707070;
border-bottom-style: solid;
background-color: #fafafa;
width: 400px;
height: 56px;
}
/* お問い合わせ内容のテキストエリア */
.contact-textarea {
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom-width: 1px;
border-bottom-color: #707070;
border-bottom-style: solid;
background-color: #fafafa;
width: 400px;
height: 200px;
}

/* 個人情報の取り扱い */
details {
width: 700px;
}
details > div {
background-color: #fafafa;
padding: 20px;
} 
details > div > span {
font-weight: bold;
}

#footer-link {
text-align: center;
padding: 80px 80px 30px 80px;
}

#footer-link > a {
text-decoration: none;
margin: 10px;
}

#footer-link > a:link {
color: #0000FF;
}
#footer-link > a:visited {
color: #0000FF;
}
#footer-link > a:hover {
color: #0000FF;
text-decoration: underline;
}
#footer-link > a:active {
color: #0000FF;
}




/*================
 スマホ用のスタイル 
=================*/
  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none;
    background: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    border-radius: 5px;
    transition: 0.3s;
  }

  .scroll-to-top:hover {
    background: #0056b3;
  }

/* 画面幅が767px以下のとき */
 @media screen and (max-width: 767px) {
  /* スマホ用のスタイルを指定する */
  
  body {
    overflow-x: auto;
    padding: 10px 11px 10px 10px;
  }
  
   img {
    width: 96%;
    margin: auto;
    display: block;
 }

 .subpic-top {
   width: 100%;
   height: 250px;
   object-fit: cover; /* width, heightといっしょに使います */
 }

    /* PC用ナビゲーション非表示 */
  #nav-pc {
   display: none;
  }
  
    /* SP用ナビゲーション表示 */
  #nav-sp {
   text-align: center;
  }
  #nav-sp > a {
   margin: 10px;
   font-weight: bold;
   text-decoration: none;
   font-size: 20px;
   color: black;
   font-family: "Noto Sans JP", sans-serif;
  }
  
 /* .pageheader-slider {*/
  /* ul要素の不要なパディングを削除する */
 /* padding: 0;*/

 /*}*/
 
    /* メインの画像 */
   .mainpic {
    margin: 50 auto;
    text-align: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
   }
  
    /* SP用のメイン画面表示 */
  /* .pageheader {*/
  /*  height: 300px;*/
  /*  background-image: url(images/ff_x_e1_flour.jpg);*/
  /*  background-size: 150%;*/
  /*  background-position: center;*/
  /*  background-repeat: no-repeat;*/
  /*  background-position: center center;*/
  /*}*/
  
   ul {
    list-style-type:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
 }
  
   #title1,#title2  {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      font-size: 25px;
      font-family: "Noto Sans JP", sans-serif;
 }
 
   p {
      margin: 0 40px 5px;
   }
   
  .report{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 20px auto 20px auto;
     column-gap: 20px;
     max-width: 1200px;
  }
 
 
 footer p {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Noto Sans JP", sans-serif;
 }
 
 details {
    width: 320px;
 }
 
  /* #modal-close {*/
  /* display: none;*/
  /*}*/
  
   /*モーダルウィンドウのデザイン*/
  #modal {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.7);
     z-index: 99;
 }
 
 .modal-content {
     top: 32%;
     width: 100%;
     max-width: 100%;
     margin: -2%;
     background: white;
     padding: 2%;
     position: relative;
 }
 
 #modal-close {
     position: absolute;
     right: 15%;
     top: 1%;
     cursor: pointer;
     background-color: white;
 }
 /*モーダルウィンドウのデザイン終了*/
 
 .more-item img {
    margin: 5% 2%;  /* 上下5%、左右2%のマージンを設定 */
    flex: 1 1 auto;  /* flexボックス内での画像の伸縮を自動に設定 */
}

/*もっとみるのリンク*/
#page-more, #send  {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

#page-more, #send :hover {
    background: #0056b3;
}
 #top {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

footer p {
    padding: 20px;
}

footer a {
    font-family: "Noto Sans JP", sans-serif;
}

#footer-link {
text-align: initial;
/*text-align: center;*/
/*padding: 80px 80px 30px 80px;*/
}

#footer-link > a {
text-decoration: none;
margin: 10px;
}

#footer-link > a:link {
color: #0000FF;
}
#footer-link > a:visited {
color: #0000FF;
}
#footer-link > a:hover {
color: #0000FF;
text-decoration: underline;
}
#footer-link > a:active {
color: #0000FF;
}


/* お問い合わせ */
#contact {
 margin: 80px 20px 80px 20px;
}


#contact > h3 {
 margin-bottom: 20px;
}

#contact > form > div {
 margin-bottom: 20px;
}

.contact-heading {
 margin-bottom: 20px;
}

   /* ラベル */
   .contact-label {
     font-weight: bold;
   }
 
   /* 必須 */
   .contact-span {
     color: #ce2222;
     margin: 0 0 0 20px;
     font-weight: bold;
   }
 
   .contact-textbox {
     height: 56px;
     border-top: 0;
     border-left: 0;
     border-right: 0;
     background-color: #fafafa;
     border-bottom-color: #707070;
     border-bottom-width: 1px;
     border-style: solid;
     min-width: 300px;
     width: 100%;
   }
 
   .contact-textarea {
     height: 150px;
     border-top: 0;
     border-left: 0;
     border-right: 0;
     background-color: #fafafa;
     width: 100%;
   }
 
   .radiobutton {
     margin-bottom: 20px;
   }
 
   .radiobutton + label::after {
     content: "\A";
     white-space: pre;
   }
   
   #send2 {
    font-size: x-large    
   }
#page-more:hover,#send2:hover  {
    background: #0056b3;
}

  /* フッター */
  footer {
    margin-top: 10px;
    background-color: #0d0d0d;
    padding: 30px 20px 50px 20px;
  }
  
  footer p {
   font-size: 12px;
   display: block;
   margin-top: 30px;
   color: #ffffff;
}

  #footer-link > a {
   text-decoration: none;
   display: block;
   background-repeat: no-repeat;
 　background-position: right top;
}

  #footer-link > a:link {
     color: #ffffff;
   }
   #footer-link > a:visited {
     color: #ffffff;
   }
   #footer-link > a:hover {
     color: #ffffff;
     /*text-decoration: underline;*/
   }
   #footer-link > a:active {
     color: #ffffff;
   }
  
    #footer-link {
     margin-bottom: 50px;
   }
}
